@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  transition: 1s;
}

.container {
  padding: 50px;
}

.title {
  width: max-content;
  margin: 0 auto;
  margin-top: 80px;
}

.title h1 {
  color: #000;
  font-family: Inter;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.todo-wrapper {
  margin: 0 auto;
  margin-top: 33px;
  max-width: 594px;
  width: 100%;
  height: max-content;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 8px 35px 0px rgba(0, 0, 0, 0.16);
  margin-bottom: auto;
  margin-top: 5%;
}

.addToDo {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  width: 100%;
  gap: 24px;
}

.addToDo input {
  width: 356px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
  padding-left: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.addToDo button {
  cursor: pointer;
  display: flex;
  max-width: 166px;
  width: 100%;
  height: 39px;
  padding: 10px 16px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  background: #272829;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
}

.addToDo button p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.todoList {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 40px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  gap: 24px;
  margin-top: 33px;
}

.ToDo {
  position: relative;
  display: flex;
}

.ToDo input {
  cursor: pointer;
  accent-color: #7749f8;
  margin-right: 16px;
}

.ToDo p {
  text-overflow: ellipsis;
  overflow: hidden;
  color: #54595e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  width: 70%;
  /* height: 60px; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.ToDo input:checked + p {
  text-decoration: line-through;
  opacity: 0.5;
}

.ToDo .del {
  cursor: pointer;
  position: absolute;
  right: 0;
  border: none;
  background: none;
  font-size: 16px;
  top: auto;
  bottom: auto;
}

.ToDo .redo {
  cursor: pointer;
  position: absolute;
  right: 30px;
  border: none;
  background: none;
  font-size: 16px;
  top: auto;
  bottom: auto;
}

.btns {
  display: flex;
  width: 100%;
  min-height: 75px;
  border-radius: 0px 0px 16px 16px;
  background: #f5f5f5;
  padding: 18px 24px;
  justify-content: space-between;
  gap: 20px;
}

.delComplete {
  /* width: 100%; */
  cursor: pointer;
  border-radius: 4px;
  background: #6c757d;
  padding: 10px 16px;
  border: none;
  align-items: center;
}

.delComplete p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.delAll {
  cursor: pointer;
  display: flex;
  padding: 10px 16px;
  align-items: center;
  border-radius: 4px;
  border: none;
  background: #dc3545;
  align-items: center;
  justify-content: center;
}

.delAll p {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.line {
  display: block;
  background: #dee2e6;
  width: 100%;
  height: 1px;
}

@media (max-width: 528px) {
  .title h1 {
    font-size: 50px;
  }

  .addToDo {
    flex-wrap: wrap;
  }

  .addToDo button {
    max-width: unset;
  }

  .addToDo input {
    width: 100%;
  }

  .btns {
    flex-wrap: wrap;
  }

  .delAll {
    width: 100%;
  }

  .delComplete {
    width: 100%;
  }
}

.redoText {
  max-width: 450px;
  width: 100%;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 17px;
}

.redoText {
  color: #54595e;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.redov {
  cursor: pointer;
  background: none;
  border: none;
  margin-right: 16px;
  font-size: 16px;
}

.delv {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 16px;
}
